[submodule "client"]
	path = client
	url = git@github.com:sra-lei/datapilot-client.git
[submodule "services/core"]
	path = services/core
	url = git@github.com:sra-lei/datapilot-core.git
[submodule "services/chartermate"]
	path = services/chartermate
	url = git@github.com:sra-lei/datapilot-chartermate.git
[submodule "services/doc-kit"]
	path = services/doc-kit
	url = https://cnb.cool/sra_lei/datapolit-dockit
[submodule "services/docs-seeker"]
	path = services/docs-seeker
	url = https://cnb.cool/sra_lei/datapolit-doc-seeker
